/* line 2, /home/ameex/RubymineProjects/myimplementations/app/assets/stylesheets/carts.css.scss */
#mycart .scale {
  position: relative;
  top: 35%;
  transform: translateY(-35%);
}
/* line 7, /home/ameex/RubymineProjects/myimplementations/app/assets/stylesheets/carts.css.scss */
#mycart .fi-x {
  position: relative;
  top: 10px;
  right: -5px;
}
